<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="LAS" connectionString="Data Source=LAPTOP-PA6V8UHG\SQLEXPRESS; Database=LAS; User ID=sa; Password=jx5733949; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TestIndexPath" value="F:\Net\GitRepository\DotNetStudy.Lucene\Lucene"/>
  </appSettings>
</configuration>