<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="DIContainer">
        <extension type="Interception"/>
        <!--类型:截获-->
        <!--<register type="命名空间.接口、抽象类、父类名, 程序集名称" mapTo="命名空间.实现类名, 程序集名称" name="一个接口等对应多个实体类时，通过名字来区分"/>-->
        <register type="DotNetStudy.SOA.WebApi.Interface.IUserService, DotNetStudy.SOA.WebApi.Interface" mapTo="DotNetStudy.SOA.WebApi.Service.UserService, DotNetStudy.SOA.WebApi.Service">
        </register>
      </container>
    </containers>
  </unity>
</configuration>