<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="key" value="命名空间,命名空间.类名"/>
    <add key="DishNameConfig" value=","/>
    <add key="DishNameReflection" value=","/>
    <!--菜-->
    <add key="Food" value="DesignPattern.Model.Food,"/>
    <add key="XmlDishModel" value="Config\Menu.xml"/>
  </appSettings>
</configuration>