<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServiceSoap" />
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_IMathService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57333/MyWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MyWebServiceSoap"
                contract="MyWebService.MyWebServiceSoap" name="MyWebServiceSoap" />
            <endpoint address="http://localhost:51685/Remote/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="MyWCFService.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:11113/MathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMathService" contract="WCFConsoleService.IMathService"
                name="BasicHttpBinding_IMathService" />
        </client>
    </system.serviceModel>
</configuration>