<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="DIContainer">
        <extension type="Interception"/>
        <!--类型:截获-->
        <!--<register type="命名空间.接口、抽象类、父类名, 程序集名称" mapTo="命名空间.实现类名, 程序集名称" name="一个接口等对应多个实体类时，通过名字来区分"/>-->
        <register type="DotNetStudy.IOC.Interface.IPhone, DotNetStudy.IOC.Interface" mapTo="DotNetStudy.IOC.Service.ApplePhone, DotNetStudy.IOC.Service" name="ApplePhone">
          <!--在类中实现AOP-->
          <interceptor type="InterfaceInterceptor"/>
           <!--<interceptionBehavior type="命名空间.类名, DLL名字"/>-->
          <interceptionBehavior type="DotNetStudy.IOC.Framework.AOP.AppleBeforeBehavior, DotNetStudy.IOC.Framework"/>
        </register>
        <register type="DotNetStudy.IOC.Interface.IPhone, DotNetStudy.IOC.Interface" mapTo="DotNetStudy.IOC.Service.MiPhone, DotNetStudy.IOC.Service" name="MiPhone"/>
        <register type="DotNetStudy.IOC.Interface.IPower, DotNetStudy.IOC.Interface" mapTo="DotNetStudy.IOC.Service.Power, DotNetStudy.IOC.Service"/>
        <register type="DotNetStudy.IOC.Interface.IMicrophone, DotNetStudy.IOC.Interface" mapTo="DotNetStudy.IOC.Service.Microphone, DotNetStudy.IOC.Service"/>
        <register type="DotNetStudy.IOC.Interface.IHeadphone, DotNetStudy.IOC.Interface" mapTo="DotNetStudy.IOC.Service.Headphone, DotNetStudy.IOC.Service"/>
        <register type="DotNetStudy.IOC.IBLL.IBaseBLL, DotNetStudy.IOC.IBLL" mapTo="DotNetStudy.IOC.BLL.BaseBLL, DotNetStudy.IOC.BLL">
          <constructor>
            <!--<param name="构造函数参数名" type="参数类型，可解析到相应类型，将type赋值即可" value="实参"></param>-->
            <param name="baseDAL" type="DotNetStudy.IOC.IDAL.IBaseDAL, DotNetStudy.IOC.IDAL"></param>
            <param name="id" type="System.Int32" value="3"></param>
          </constructor>
        </register>
        <register type="DotNetStudy.IOC.IDAL.IBaseDAL, DotNetStudy.IOC.IDAL" mapTo="DotNetStudy.IOC.DAL.BaseDAL, DotNetStudy.IOC.DAL"/>
        <!--泛型，类型名称带上`1-->
        <register type="DotNetStudy.IOC.IDAL.IDBContextDAL`1, DotNetStudy.IOC.IDAL" mapTo="DotNetStudy.IOC.DAL.DBContextDAL`1, DotNetStudy.IOC.DAL"/>
      </container>
    </containers>
  </unity>
</configuration>